.card-header {
    background-color: #6610f2;
    color: white;
}

.btn-save {
    background-color: #6610f2;
    color: white;
}

.btn-save:hover {
    background-color: #4d0c8c;
}

/* TOAST UI 에디터 높이 설정 */
#toast-editor {
    height: 500px;
}