<!--<html layout:decorate="~{layout}" xmlns="">
<div layout:fragment="content" class="container my-3">

</div>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* 추가적인 스타일을 적용할 수 있습니다. */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
<div class="flex flex-col gap-4 w-72 bg-gray-200 p-4">
    <!-- 내용을 입력하세요 -->
    <form th:action="@{/home/login}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
        <button class="btn btn-block btn-primary gap-1">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <span>로그인</span>
        </button>
    </form>
</div>
</body>
</html>