<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
    <title>Your Page Title</title>
</head>
<body x-data="{ isOpen: false }" class="font-sans antialiased bg-gray-100">

<div class="navbar bg-base-100 p-4 flex justify-between items-center">
    <div x-data="{ open: false }" class="dropdown relative" @click.away="open = false">
        <div @click="open = !open" tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <i class="fas fa-bars"></i>
        </div>
        <ul x-show="open" tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li>
                <a href="/home/logout">
                    <i class="fas fa-right-from-bracket"></i>
                    Logout
                </a>
            </li>
            <li><a href="/home/account">
                <i class="fas fa-person"></i>My Account</a></li>
            <li><a href="/blog/create">
                <i class="fas fa-pen"></i>Write</a></li>
            <li><a href="/blog/storage">
                <i class="fas fa-heart"></i>Liked List</a></li>
        </ul>
    </div>

    <div class="flex-1">
        <a class="btn btn-ghost text-xl" th:href="@{/blog/list?page=0}" style="color: #6366F1;">MediumBlog</a>
    </div>

    <div class="flex-none">
    </div>
</div>

<form class="mt-12 max-w-screen-md mx-auto">
    <div class="border-b border-gray-900/10 pb-12">
        <h1 class="text-2xl font-semibold text-gray-900">Profile</h1>
        <p class="mt-1 text-sm text-gray-600">This information will be displayed publicly, so be careful what you share.</p>

        <div class="mt-8">
            <label class="block text-sm font-medium text-gray-900">Username</label>
            <p class="mt-1 text-sm text-gray-600">
                <span th:text="${username}"></span>
            </p>
        </div>

        <div class="mt-8">
            <label class="block text-sm font-medium text-gray-900">Email</label>
            <p class="mt-1 text-sm text-gray-600">
                <span th:text="${email}"></span>
            </p>
        </div>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
                <label class="block text-sm font-medium leading-6 text-gray-900">Your Stauts</label>
                <a th:if="${user.ROLE_PAID}==true">🪙 Membership</a>
                <a th:if="${user.ROLE_PAID}==false">🖋️ for-free</a>
            </div>
        </div>

        <div class="mt-8">
            <label class="block text-sm font-medium text-gray-900">Membership</label>
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn m-1">Status</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="/home/membership?isPaid=false">for-free</a></li>
                    <li><a href="/home/membership?isPaid=true">Membership</a></li>
                </ul>
            </div>
        </div>

            <a href="/membership">맴버쉽 결제</a>
    </div>
</form>

</body>
</html>