<head>
    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->

    <!-- 데이지 UI 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- 테일윈드 불러오기 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com">
        < link href = "https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel = "stylesheet" type = "text/css" / >
    </script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</head>

<body>
<body x-data="{ isOpen: false }">
<div class="navbar bg-base-100">
    <div x-data="{ open: false }" class="dropdown" @click.away="open = false">
        <div @click="open = !open" tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h7"/>
            </svg>
        </div>
        <ul x-show="open" tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <div style="float: right">
                <li>
                    <a sec:authorize="isAuthenticated()" th:href="@{/home/logout}">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Logout</a></li>
            </div>
            <li><a th:href="@{/home/account}">
                <i class="fa-solid fa-person"></i>My Account</a></li>
            <li><a th:href="@{/blog/create}">
                <i class="fa-solid fa-pen"></i>Write</a></li>
            <li><a th:href="@{/blog/storage}">
                <i class="fa-solid fa-heart"></i>Liked List</a></li>
        </ul>
    </div>
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" th:href="@{/blog/list(page=0)}" style="color: #6366F1;">MediumBlog</a>
    </div>
    <div class="flex-none">
        <button class="btn btn-square btn-ghost" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
        </button>
    </div>
</div>

<form class="mt-12">
    <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
            <h1 class="text-base font-semibold leading-7 text-gray-900">Profile</h1>
            <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label class="block text-sm font-medium leading-6 text-gray-900" >Username</label>
                    <p class="mt-1 text-sm leading-6 text-gray-600 ">
                        <span th:text="${username}"></span>
                    </p>
                </div>
            </div>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label class="block text-sm font-medium leading-6 text-gray-900" >email</label>
                    <p class="mt-1 text-sm leading-6 text-gray-600 ">
                        <span th:text="${email}"></span>
                    </p>
                </div>
            </div>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label class="block text-sm font-medium leading-6 text-gray-900">MemberShip</label>
                    <div class="dropdown">
                        <div tabindex="0" role="button" class="btn m-1">MemberShip</div>
                        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a>for-free</a></li>
                            <li><a>Item 2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>











