<!DOCTYPE html>
<html lang="" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Add your custom styles or import additional CSS frameworks here -->
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
<div class="navbar bg-base-100 fixed top-0 w-full z-10">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h7"/>
                </svg>
            </div>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <div style="float: right">
                    <li>
                        <a sec:authorize="isAuthenticated()" th:href="@{/home/logout}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout</a></li>
                </div>
                <li><a th:href="@{/home/account}">
                    <i class="fa-solid fa-person"></i>My Account</a></li>
                <li><a th:href="@{/blog/create}">
                    <i class="fa-solid fa-pen"></i>Write</a></li>
                <li><a th:href="@{/blog/storage}">
                    <i class="fa-solid fa-heart"></i>Liked List</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl" th:href="@{/blog/list(page=0)}" style="color: #6366F1;">MediumBlog</a>
    </div>


    <div class="navbar-end">

        <!--검색-->
        <button class="btn btn-ghost btn-circle" id="searchButton">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
            </svg>
        </button>

        <div class="flex items-center" id="searchBox" style="display: none;">
            <input type="text" id="searchInput" placeholder="검색어를 입력하세요" class="mr-2" th:value="${kw}">
            <button id="searchSubmit" class="btn btn-primary">검색</button>
        </div>

        <form th:action="@{/blog/list}" method="get" id="searchForm" style="flex-direction: column;">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>

        <script>
            var searchButton = document.getElementById('searchButton');
            var searchBox = document.getElementById('searchBox');
            var searchInput = document.getElementById('searchInput');
            var searchSubmit = document.getElementById('searchSubmit');

            searchButton.addEventListener('click', function () {
                if (searchBox.style.display === 'none' || searchBox.style.display === '') {
                    // 검색 입력 창 표시
                    searchBox.style.display = 'flex';
                    searchButton.disabled = true;  // 검색 버튼 비활성화
                } else {
                    // 검색 입력 창 숨김
                    searchBox.style.display = 'none';
                    searchButton.disabled = false;  // 검색 버튼 활성화
                }
            });

            searchSubmit.addEventListener('click', function () {
                // 검색 기능 구현
                var searchTerm = searchInput.value;
                console.log('검색어:', searchTerm);

                // 검색 창 닫기 (선택 사항)
                searchBox.style.display = 'none';
                searchButton.disabled = false;  // 검색 버튼 활성화
            });
        </script>
        <!--검색-->

        <div class="dropdown m1-auto mx-10" id="sortedDropdown">
            <div tabindex="0" role="button" class="btn m-1" onclick="toggleDropdown()">Sorted</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a th:href="@{|/blog/list?page=0&order=latest|}">Latest</a></li>
                <li><a th:href="@{|/blog/list?page=0&order=oldest|}">Oldest</a></li>

            </ul>
        </div>
    </div>
</div>

<div class="container mx-auto mt-20 flex-1 flex justify-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <!-- 각각의 포스트를 나타내는 부분 -->
        <div th:each="post : ${paging}" class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-5">
                    <!-- 게시글 제목과 링크 -->
                    <a th:href="@{|/blog/detail/${post.id}|}" th:text="${post.subject}" class="text-indigo-600"></a>
                </div>
                <p class="text-gray-700 text-base font-bold mb-5"
                   th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></p>     <!--블로그 제작 날짜 확인-->
                <span class="text-danger small"
                      th:if="${#lists.size(post.commentList) > 0}">
                    <i class="fa-solid fa-comment"></i>
                        <span th:text="${#lists.size(post.commentList)}"></span>        <!--블로그 리스트 댓글 수 확인-->
                </span>
                <span class="text-danger small"
                      th:if="${#lists.size(post.voter) > 0}">
                   <i class="fa-regular fa-thumbs-up"></i>
                        <span th:text="${#lists.size(post.voteNum)}"></span>        <!--블로그 리스트 댓글 수 확인-->
                </span>
                <i class="fa-solid fa-pen-to-square"></i>
                <span th:if="${post.author != null}" th:text="${post.author.username}"></span>   <!--글쓴이 만들기-->
                <div><i th:if="${post.ROLE_PAID}">🪙Membership</i></div>
            </div>
        </div>
    </div>
</div>

<!-- 페이지 네비게이션 부분 수정 -->
<div th:if="${!paging.isEmpty()}" class="pagination-container mt-4">
    <ul class="flex justify-center">
        <li class="mr-2" th:classappend="${paging.number == 0} ? 'opacity-50 cursor-not-allowed' : ''">
            <a class="py-2 px-4 bg-gray-300 rounded text-g-ray600 page-link"
               th:href="${paging.number > 0} ? @{|/blog/list?page=${paging.number-1}&kw=${kw}&order=${order == null or order == 'null' ? '' : order}|} : null"
               aria-label="Previous">
                이전
            </a>
        </li>

        <li th:each="page: ${#numbers.sequence(paging.number-5, paging.number+5)}"
            th:if="${page >= 0 and page < paging.totalPages}"
            th:classappend="${page == paging.number} ? 'active' : ''"
            class="mr-2">
            <a th:text="${page + 1}" class="py-2 px-4 rounded"
               th:class="${page == paging.number} ? 'bg-blue-500 text-white' : 'bg-gray-300 text-gray-600'"
               th:href="@{|/blog/list?page=${page}&kw=${kw}&order=${order == null or order == 'null' ? '' : order}|}"></a>
        </li>
        <li class="ml-2" th:classappend="${!paging.hasNext} ? 'opacity-50 cursor-not-allowed' : ''">
            <a class="py-2 px-4 bg-gray-300 rounded text-gray-600"
               th:href="${paging.hasNext} ? @{|/blog/list?page=${paging.number+1}&kw=${kw}&order=${order == null or order == 'null' ? '' : order}|} : null"
               aria-label="Next">
                다음
            </a>
        </li>
    </ul>
</div>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementById("searchSubmit");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("searchSubmit");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('searchButton').value;
        document.getElementById('page').value = 0;
        document.getElementById('searchForm').submit();
    });

    function toggleDropdown() {
        var dropdown = document.getElementById('sortedDropdown');
        var dropdownContent = dropdown.querySelector('.dropdown-content');

        // dropdown-content를 토글
        if (dropdownContent.style.display === 'none' || dropdownContent.style.display === '') {
            dropdownContent.style.display = 'block';
        } else {
            dropdownContent.style.display = 'none';
        }
    }
</script>

</body>
</html>
