<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title th:text="${post.subject}"></title>
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">

<!-- Navigation -->
<div class="navbar bg-base-100 fixed top-0 w-full z-10">
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl" th:href="@{/blog/list(page=0)}" style="color: #6366F1;">MediumBlog</a>
    </div>
</div>

<!-- Content -->
<div layout:fragment="content" class="container my-3 mt-10">

    <h2 class="border-b-2 py-2 text-3xl font-bold mb-4" th:text="${post.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text text-lg" style="white-space: pre-line;" th:text="${post.content}"></div>
            <div class="flex justify-end mt-4">
                <div class="badge bg-indigo-500 text-white p-2 text-start">
                    <div th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 답변의 갯수 표시 -->
    <h5 class="border-b-2 my-3 py-2 text-xl font-bold"
        th:text="|${#lists.size(post.commentList)}개의 댓글이 있습니다.|"></h5>

    <!-- 답변 반복 시작 -->
    <div class="mt-4">
        <div th:each="comment : ${post.commentList}" class="mb-4">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                    <div class="card-text text-base" style="white-space: pre-line;" th:text="${comment.content}"></div>
                    <div class="flex justify-end mt-4">
                        <div class="badge bg-indigo-500 text-white p-2 text-start">
                            <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->

    <!-- 답변 작성 -->
    <form th:action="@{|/comment/create/${post.id}|}" th:object="${commentForm}" method="post" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="textarea textarea-primary w-full h-20 p-2 border rounded"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="textarea textarea-primary w-full h-20 p-2 border rounded"></textarea>
        <input type="submit" value="답변등록" class="btn btn-indigo my-2">
    </form>
</div>

</body>

</html>
